
body{
    background-image: url("../img/background-main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


.carousel-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    max-height: 780px;
    width: 100%;
    position: center;
    height: 60vw;
    object-fit: cover;
}

#footer {
    bottom : 0px;
    height : 30px;
    background: black;
    color: white;
    margin-top : 40px;
    text-align: center;
    vertical-align: middle;
    position:fixed;
    width:100%;
}

#footer a{
    color: white;
}

#footer a+a{
    margin-left: 30px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.impressum-box{
    text-align: left;
    margin-top: 15vh;
    margin-left: 30vh;
    color: rebeccapurple;
}

.main-header{
    color: white;
    margin: calc(10vh - 40px) auto 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
}

.special-offer-star{
    color: red;
}

.start-shopping-button{
    margin: calc(10vh - 40px) auto 0 auto;
    font-family: "Archivo Black", "Archivo", sans-serif;
    display: block;
    height: auto;
    text-align: center;

}





