body{
    background-image: url("../img/background-main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.main-header{
    color: white;
    margin: calc(10vh - 40px) auto 50px auto;
    padding-top: 5%;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
}

#footer {
    bottom : 0px;
    height : 30px;
    background: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    position:fixed;
    width:100%;
}

#footer a{
    color: white;
}

#footer a+a{
    margin-left: 30px;
}

@media only screen and (max-width: 768px) {

    .main-header{
        font-size: 30px;

    }

}



