.main-header{
    text-align: center;
}

.carousel-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    max-height: 780px;
    width: 100%;
    position: center;
    height: 60vw;
    object-fit: cover;
}

#footer {
    bottom : 1px;
    height : 30px;
    background: black;
    color: white;
    margin-top : 40px;
    text-align: center;
    vertical-align: middle;
    position:fixed;
    width:100%;
}
.dark-mode {
    background-color: black;
    color: white;
}